.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
}

.inputContainer h1 span {
  color: var(--primary-color);
}
